# OS
.DS_Store

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.idea
.vscode

# Dependencies
node_modules/

# Build output (rebuild from source)
lib/

# Release artifacts
dist/
*.zip
